text-analyze.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "text-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4598e64c-9668-4ac5-8586-9ac8617df9b4",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-240, 176],
      "webhookId": "51dce710-759e-4014-896c-a26ff6fa9e4c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "analysisType",
              "value": "both",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "model",
              "value": "gpt-4o-mini",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ae769bc7-5b2e-4552-8ce2-6ac88fa44214",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-16, 176]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "id-2",
              "name": "analysis",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "inputText",
              "value": "={{ $('Webhook Trigger').first().json.body.text }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4ce4d00c-1fbe-4829-a0a0-870ba8554207",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [576, 176]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "id": "eeca5727-d1e4-473f-a2d2-e81fdf651896",
      "name": "Return Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [800, 176]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=generate {{ $json.body.mode }} of the text \n {{ $json.body.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [224, 176],
      "id": "32b14d33-3765-46e6-8401-8a89a72799e1",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "RQj83YmvHvcBzMKa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7e640c4717e657d613f9250b7def97069df12a9c309cb23ed8275cba699883a8"
  }
}
